html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

#tabs {
  padding: 0;
  list-style: none;
  width: 500px;
  margin: 200px auto;
}

#tabs {
  display: flex;
  flex-direction: column;
}

#tabs {
  position: relative;
}

#tabs a {
  background-color: rgb(0, 201, 219);
  height: 50px;
  padding: 20px;
  color: white;
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px rgb(0, 201, 219) solid;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: lighter;
}

#tabs a:hover {
  background-color: rgb(0, 222, 241);
}

.content {
  height: 0;
  overflow: hidden;
  border: rgb(0, 201, 219) 0.5px solid;
}

.show {
  height: 200px;
  transition-duration: 1s;
}

#tabs a.active {
  background: 999;
  color: white;
}

#tabs li:first-child .content {
  display: block;
}
